@media (max-width: 1200px) {
	.promo {
		&__header {
			font-size: 35px;
		}
		&__subheader {
			font-size: 22px;
		}
		&__link {
			margin-top: 25px;
		}
	}
	.advantages {
		padding-bottom: 68px;
		&__items {
			justify-content: space-around;
			margin-top: 58px;
		}
	}

	.consultation {
		padding-top: 70px;
		&__description {
			margin-top: 17px;
		}
	}
	.title_left {
		font-size: 33px;

	}
	.pageup {
		right: 60px;
	}
}

@media (max-width: 991px) {
	.header {
		justify-content: space-around;
		&__official span {
			margin-top: 3px;
		}
		&__phone {
			font-size: 17px;
		}
	}
	.promo {
		padding-bottom: 75px;
		&__wrapper {
			padding: 0 10px;
		}
		&__link {
			font-size: 15px;
		}
		&__header {
			font-size: 33px;
		}
		&__subheader {
			font-size: 21px;
			margin-top: 6px;
			margin-bottom: 0;
		}
	}
	
	.button {
		&_header {
			margin-top: 10px;
		}
		&_main {
			width: 285px;
			font-size: 15px;
		}


	}
	.title {
		font-size: 27px;
		&_left {
			font-size: 26px;
		}
	}
	.advantages {
		&-item {
			&__header {
				font-size: 16px;
			}
			&__subheader {
				font-size: 13px;
			}	
		}
		&__item {
			img {
				display: block;
				width: 65px;
				height: auto;
			}
		}
	}
	.consultation {
		.container {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.catalog {
		padding-bottom: 80px;
		&__tabs {
			padding-top: 60px;
		}
		&__tab {
			width: 230px;
			font-size: 17px;
			line-height: 47px;
		}
		&__content {
			justify-content: space-around;
		}
	}
	.reviews {
		padding-bottom: 65px;
		&__wrapper {
			padding: 10px 10px 0 10px;
		}
		&-item {
			padding-top: 45px;
			padding-bottom: 43px;
		
			&__photo {
				max-width: 150px;
				max-height: 150px;
			}
			&__title {
				font-size: 16px;
			}
			&__subtitle {
				font-size: 12px;
				margin-top: 11px;
			}
			&__descr {
				font-size: 14px;
				margin-top: 22px;
			}
		}
	
	}
	.footer {
		&__info {
			width: 350px;
			height: 210px;
			padding: 40px;

		}
		&__addr {
			font-size: 16px;
			margin-bottom: 28px;
			line-height: 16px;
		}
		&__phone {
			font-size: 17px;
			margin-bottom: 32px;	

		}
		&__social-itmem {
			width: 45px;
			height: 45px;
		}
			img {
				height: 23px;
			}
	}
	.pageup {
		bottom: 30px;
		right: 10px;
		width: 30px;
		height: 40px;  
	}

}


@media (max-width: 767px) {
	
}